:root {
  --primary-color: #0BC199;
  --white:white;
  --xs-size: 0.8rem;
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --ml-size: 2.4rem;
  --l-size: 3.6rem;
  --xl-size: 4.8rem;
  --xxl-size: 6.4rem;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}